## 5 - Tuple

### 5.1 Creating a Tuple:

A `tuple` is a variable which is type a sequence like string, list.

Tuple is able to take a every type of value and to index.

Therefore, tuple is quite similar to list.

However, there is an important different between tuple and list: 

* a tuple is immutable

* a list is mutable

A **tuple** is a comma-separated list.

In [2]:
t = 'x', 'y', 'z', 'q', 'p'
t

('x', 'y', 'z', 'q', 'p')

In [3]:
type(t)

tuple

In [4]:
t2 = (1, 2, 3, 4, 5)
t2

(1, 2, 3, 4, 5)

In [5]:
isinstance(t2, tuple)

True

In [6]:
isinstance(t2, list)

False

**Question:** how can we create a tuple which has one element?

In [9]:
one_tuple1 = 'x'
one_tuple1

'x'

In [10]:
isinstance(one_tuple1, tuple)

False

In [11]:
type(one_tuple1)

str

In [12]:
one_tuple2 = ('x')
one_tuple2

'x'

In [13]:
isinstance(one_tuple2, tuple)

False

In [14]:
type(one_tuple1)

str

In [15]:
# answer:

one_tuple3 = ("x",)
one_tuple

'x'

In [16]:
isinstance(one_tuple3, tuple)

True

In [17]:
type(one_tuple3)

tuple

In [18]:
# another way:

t = tuple("x")
t

('x',)

In [19]:
type(t)

tuple

In [20]:
lang = tuple("Python")
lang

('P', 'y', 't', 'h', 'o', 'n')

In [21]:
#index

lang[0]

'P'

In [22]:
lang[2]

't'

Tuple allows to use indexes, so we can use slicing:

In [23]:
lang[::]

('P', 'y', 't', 'h', 'o', 'n')

In [24]:
lang[::-1]

('n', 'o', 'h', 't', 'y', 'P')

In [25]:
lang[1:4]

('y', 't', 'h')

In [26]:
# tuple assignment

a = 99
b = 1

print("a:", a)
print("b:", b)

a, b = b, a

print("a:", a)
print("b:", b)

a: 99
b: 1
a: 1
b: 99

In [27]:
a,b = 500,800,7

ValueError: too many values to unpack (expected 2)

**EXERCISE:** Using tuple assignment, separate a given email:

In [28]:
'johnsnow@got.com'.split('@')

['johnsnow', 'got.com']

In [29]:
username, domain = 'johnsnow@got.com'.split('@')

print(username)
print(domain)

johnsnow
got.com

### 5.2 Tuples as Return Value of Functions

Functions return only a value. 

What should we do if we want to return more values?

The answer is `Tuple` !

**EXERCISE**

Define a function that calculates the sum and multiplication of the given values:

In [30]:
def sum_and_multp(*args):
    
    # sum()
    
    total_sum = sum(args)
    
    # we have to loop for multiplication:
    
    multp = 1
    
    for arg in args:
        
        multp *= arg
        
    return (total_sum, multp)

In [31]:
total_sum, multp = sum_and_multp(2, 5, 4, 3)

print("sum:", total_sum)
print("multiplication:", multp)

sum: 14
multiplication: 120

**EXERCISE**

Define a function that takes an integer list as a parameter and returns min, max and mean values:

Parametre olarak bir tam sayı listesi alan ve bu listenin minimum, maximum ve aritmetik ortalama değerlerini dönen bir fonksiyon yazın.

**tip**:
to use mean function, import statistics

In [32]:
import statistics

def basic_statistics(a_list):
    
    min_v = min(a_list)
    
    max_v = max(a_list)
    
    mean_v = statistics.mean(a_list)
    
    return (min_v, max_v, mean_v)

In [33]:
a_list = [1, 2, 3, 4, 5]

minimum, maximum, ortalama = basic_statistics(a_list)

print("min:", minimum)
print("max:", maximum)
print("mean:", ortalama)

min: 1
max: 5
mean: 3

### 5.3  `zip()` function

The zip function takes the corresponding elements from each array and creates a tuple. 

This returns a zip object made up of tuples.

In [35]:
text = 'xyzt'
a_list = [1, 2, 3, 4]

zipper = zip(text, a_list)

print(zipper)

<zip object at 0x0000022DDE970080>

In [36]:
for z in zipper:
    print(z)

('x', 1)
('y', 2)
('z', 3)
('t', 4)

As you can see, each element inside the zipper is a tuple.

And the first element of each tuple is from the text array, the second element is from the list array.

Thus, the elements were zipped to each other (in the same index) in a row.

In [37]:
# Let's call zip() with index

zipper[0]

TypeError: 'zip' object is not subscriptable

We can use index structure only in list . 

That's why we need to convert our zip type variable to a list.

In [38]:
zipper_list = list(zipper)
zipper_list

[]

**why is it returned an empty list?**

This is because iterators in Python do iterate on their elements once.

Once the returning is done and completed, the iterator now returns to the empty list.

The purpose of this is to prevent the endless loop.

Doing list() also means actually returning it, so it can only be done once.

---

**Question:** What if the two strings that are parameters to the zip() function are not the same length?

**Answer:** They zip as much as the shorter string.

In [39]:
d1 = ['A', 'B', 'C', 'D', 'E']
d2 = [10, 20, 30]

new_zipper = zip(d1, d2)

print(new_zipper)

<zip object at 0x0000022DDEA05500>

In [40]:
new_zipper_list = list(new_zipper)
new_zipper_list

[('A', 10), ('B', 20), ('C', 30)]

**EXERCISE:**

Let's check the corresponding elements in the two given lists.

If both are equal, let's print:

In [41]:
l1 = ['a', 'B', 'C', 'd', 'e', 'F']
l2 = ['A', 'B', 'c', 'd', 'E', 'F']

for e1, e2 in zip(l1, l2):
    
    if e1 == e2:
        print(e1)

B
d
F