## 5-1 QUIZ - Tuple

**Q 1:**

Firstly, the function create a tuple with values from 1 to 10. <br>
Then add the numbers 11 to 20 to this tuple and return the final form of the tuple.

<pre style="background: gold;">
Result: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
</pre>

In [1]:
# S 1:

def create_tup():
    
    # creating a tuple with values from 1 to 10:
    
    tup1 = tuple(range(1,11,1))
    
    # adding numbers from 11 to 20 with for loop and range():
      
    for t in range(11,21,1):
        
        # adding value have to be a tuple (t,)
        
        tup2 = tup1 + (t,)
        
        tup1 = tup2
        
    return tup1

In [2]:
create_tup()

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

---

**Q 2:**

Define a function that has a tuple as a parameters and changes the tuple to str. return str.

<pre style="background: gold;">
Parameter:
t = ('D', 'e', 'e', 'p', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

Result: Deep Learning
</pre>

In [7]:
# S 2.1:

def tuple_to_str(tup):
    
    str1=" "

    for item in tup:
        
        str1 =str1 + item
    
    return str1

In [8]:
tup = ('D', 'e', 'e', 'p', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')
tuple_to_str(tup)

' Deep Learning'

In [9]:
# S 2.2:

def tuple_to_str(tup):
    
    text = "".join(tup)
    
    return text

In [10]:
tup = ('D', 'e', 'e', 'p', ' ', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g')
tuple_to_str(tup)

'Deep Learning'

---

**Q 3:**

Define a function that converts a String given as a parameter to a List and then this List to a Tuple.


**to-do:**

    * list()
    * tuple()
    
<pre style="background: gold;">
Parameter:
father_of_python = 'Guido van Rossum'

Result: ('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')
</pre>

In [13]:
# S 3:

def str_list_tup(text):
    
    # convert str to list:
    
    list1 = list(text)
    
    # convert list to tuple:
    
    tup1 = tuple(list1)
    
    return tup1

In [15]:
father_of_python = 'Guido van Rossum'
a = str_list_tup(father_of_python)
print(a)

('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')

---

**Q 4:**

There is a function that have a index and tuple as parameters.<br>

Let the function return how many times the element in the given index is in the whole tuple.

**to-do:**
* count()

<pre style="background: gold;">
Parameters:
t = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
i = 1

result: 4
</pre>

In [16]:
# S 4:

def how_many_times(tup, index):   
    
    element = tup[index]
    
    return tup.count(element)

In [18]:
t = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
i = 1
how_many_times(t, i)

4

In [19]:
text = ('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'R', 'o', 's', 's', 'u', 'm')
ind = 4
how_many_times(text, ind)

2

---

**Q 5:**

Slicing:

<pre> tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j') </pre>

In [23]:
# S 5:

tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j') 
tup

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

In [22]:
# 1. Find the 4th element (inclusive) to the 7th element (inclusive)
# The 4th element means the 3rd index. (starts at index 0)

tup[3:7]

('d', 'e', 'f', 'g')

In [24]:
# 2. Find the first 5 elements

tup[:5]

('a', 'b', 'c', 'd', 'e')

In [25]:
# 3. Find after the 6th element (inclusive)

tup[5:]

('f', 'g', 'h', 'i', 'j')

In [26]:
# 4. Find all elements

tup[::]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

In [27]:
# 5. Find the second to last element

tup[-2]

'i'

In [28]:
# 6. Find the last 4 elements

tup[-4:]

('g', 'h', 'i', 'j')

In [29]:
# 7. Write from the 2nd element to the 8th element, skipping 2 by 2

tup[1:8:2]

('b', 'd', 'f', 'h')

In [30]:
# 8. Write all elements in 3 skips

tup[::3]

('a', 'd', 'g', 'j')

In [33]:
# 9. Write in reverse from the 9th element to the 3rd element (excluding)

tup[8:2:-1]

('i', 'h', 'g', 'f', 'e', 'd')

In [34]:
# 10. write in reverse

tup[::-1]

('j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [35]:
# 11. write in reverse with 2 skips

tup[::-2]

('j', 'h', 'f', 'd', 'b')

In [36]:
# 12. Get all elements up to (except) the last element with reverse index

tup[:-1]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

---

**Q 6:**

Define a function that has a list as a parameter. The list's elements are tuples.<br>
Every tuple may have different length.<br>
The function deletes the last element of tuple that is in the list and write the square instead

<pre style="background: gold;">
Parameter:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]

Result:
tuple_list = [(2,5,64), (4,9), (1,7,9,36), (25,)]
</pre>

In [37]:
# S 6:

def square_last_element(tuple_list):
    
    for index, tup in enumerate(tuple_list):
    
        until_last_element = tup[:-1]
    
        last_element = tup[-1]**2
        
        tup = until_last_element + (last_element,)
        
        tuple_list[index] = tup

In [38]:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]
print('before the function:', tuple_list)

square_last_element(tuple_list)
print('after the function:', tuple_list)

before the function: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
after the function: [(2, 5, 64), (4, 9), (1, 7, 9, 36), (25,)]

---

**Q 7:**

Define a function that has a list as a parameter. The list's elements are tuples.<br>
Every tuple may have different length. <br>
Function writes the squares of each tuple element in the List instead of all the elements.


<pre style="background: gold;">
Parameter:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]

Sonuc:
new_tuple_list = [(4,25,64), (16,9), (1,49,81,36), (25,)]
</pre>

In [39]:
# S 7:

def square_all_element(tuple_list):
    
    new_list = tuple_list.copy()
    
    for index, tup in enumerate(new_list):
        
        new_tup = tuple()
        
        for t in tup:
            
            new_tup += (t**2,)
            
        new_list[index] = new_tup
        
    return new_list

In [40]:
tuple_list = [(2,5,8), (4,3), (1,7,9,6), (5,)]

new_tuple_list = square_all_element(tuple_list)

print('tuple_list:', tuple_list)
print('new_tuple_list:', new_tuple_list)

tuple_list: [(2, 5, 8), (4, 3), (1, 7, 9, 6), (5,)]
new_tuple_list: [(4, 25, 64), (16, 9), (1, 49, 81, 36), (25,)]

---

**Soru 8:**

Define a function that has 4 list as parameters.


Given 4 lists:
* List 1 -> actor/actress real name
* List 2 -> name of the movie
* List 3 -> year
* List 4 -> character's name

The function will take the corresponding elements from these 4 lists and turn them into 2 tuples with 2 elements each. And a Dictionary will return.

* First Tuple -> (actor/actress real name, character's name)
* Ä°kinci Tuple -> (name of the movie, year)

**to-do:**
* `zip()`

<pre style="background: gold">
Parameters:
actors = ['Marlon Brando', 'Heath Ledger', 'Natalie Portman', 'Emma Stone']
characters = ['Don Vito Corleone', 'Joker', 'The Swan Queen', 'Mia']
movies = ['The Godfather', 'The Dark Knight', 'Black Swan', 'La La Land']
years = [1972, 2008, 2010, 2016]

Result:
{('Marlon Brando', 'Don Vito Corleone'): ('The Godfather', 1972),
 ('Heath Ledger', 'Joker'): ('The Dark Knight', 2008),
 ('Natalie Portman', 'The Swan Queen'): ('Black Swan', 2010),
 ('Emma Stone', 'Mia'): ('La La Land', 2016)}
</pre>

In [42]:
# S 8:

def movie_dict(actors, characters, movies, years):
    
    
    new_dict = {}
    
    for a, c, m, y in zip(actors, characters, movies, years):
        
        new_dict[a,c] = (m,y)
        
    return new_dict

In [44]:

actors = ['Marlon Brando', 'Heath Ledger', 'Natalie Portman', 'Emma Stone']
characters = ['Don Vito Corleone', 'Joker', 'The Swan Queen', 'Mia']
movies = ['The Godfather', 'The Dark Knight', 'Black Swan', 'La La Land']
years = [1972, 2008, 2010, 2016]

movie_dict(actors, characters, movies, years)

{('Marlon Brando', 'Don Vito Corleone'): ('The Godfather', 1972),
 ('Heath Ledger', 'Joker'): ('The Dark Knight', 2008),
 ('Natalie Portman', 'The Swan Queen'): ('Black Swan', 2010),
 ('Emma Stone', 'Mia'): ('La La Land', 2016)}

---

**Q 9:**

Define a function that takes a tuple as a parameter.

Let the tuple that comes as a parameter be a structure that contains tuples. So let the elements be tuples. And each of these elements will be a 2-element tuple.

The function will sort the tuple that comes as a parameter and return an ordered tuple.

The ordering rule will be the 2nd element. So it will look at the 2nd element of the tuples inside and sort it accordingly.

**to-do:**
* `lambda` 

<pre style="background: gold">
Parameter:
tuple_of_tuples = (('a', 12), ('e', 8), ('b', 16), ('c', 22))

result:
[('e', 8), ('a', 12), ('b', 16), ('c', 22)]
</pre>

In [45]:
# S 9:

def sort_tuple(tup):
    
    return sorted(tup, key = lambda x : x[1])

In [46]:
tuple_of_tuples = (('a', 12), ('e', 8), ('b', 16), ('c', 22))

sort_tuple(tuple_of_tuples)

[('e', 8), ('a', 12), ('b', 16), ('c', 22)]

---

**Q 10:**

Define a function that takes a tuple of numbers and a number as parameters

The function returns the number of times the given number in the tuple has passed.

While doing this, we should use the **how_many_times** function in Question 4.

If there is no number in this tuple, it will return 'Number not found'.


<pre style="background: gold">
Parameters:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
number = 2

result:
4
</pre>

In [51]:
# S 10:

def count_number(tup,number):
    
    if not number in tup:
        raise Exception('Number not found!')
        
    else:
        
        index = tup.index(number)
        
        return how_many_times(tup,index)

In [52]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
number = 2

count_number(tup,number)

4

In [53]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
number =5

count_number(tup,number)

2

In [54]:
tup = (5, 2, 3, 3, 4, 2, 1, 3, 4, 5, 2, 1, 2)
number = 99

count_number(tup,number)

Exception: Number not found!