## 3.1 List

* Earlier, I talked about sequences on String. 

* List data type is also a sequence.

* Using `index`, we can access the contents of a list.

In [1]:
my_first_list = [10, 20, 30, 40]
my_first_list

[10, 20, 30, 40]

* We can add variables which are different data types to the list.

In [2]:
mixed_list = [10, "ezgi",  4.5, True]
mixed_list

[10, 'ezgi', 4.5, True]

In [3]:
nested_list = ["city", ["ankara", "istanbul", "samsun"], [6,34,55]]
nested_list

['city', ['ankara', 'istanbul', 'samsun'], [6, 34, 55]]

* how can we access elements of list?

In [4]:
nested_list[0]

'city'

In [5]:
nested_list[1]

['ankara', 'istanbul', 'samsun']

In [7]:
nested_list[1][0]

'ankara'

* A list is a mutable !

In [8]:
cheeses = ["Gouda","Halloumi","Cheddar"]

cheeses[0]

'Gouda'

In [10]:
# we want to change Gouda as Tofu:

cheeses[0] = "Tofu"

In [11]:
cheeses

['Tofu', 'Halloumi', 'Cheddar']

## 3.2 Loops on List

In [12]:
cheeses = ["Gouda","Halloumi","Cheddar"]

for c in cheeses:
    print(c)

Gouda
Halloumi
Cheddar

In [15]:
for index,c in enumerate (cheeses):
    print("{0}. {1}".format(index + 1, c))

1. Gouda
2. Halloumi
3. Cheddar

In [19]:
#while on loop, we can change value of elements of list:

numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [20]:
for index, n in enumerate (numbers):
   
    n *=10
    
    numbers[index] = n

In [21]:
numbers

[10, 20, 30, 40, 50]

## 3.3 List Operations

### To combine lists: `+`

In [22]:
a = [1,2,3,4,5]

b = [6,7,8,9,10]

c = a + b

print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Repeats a list for the given number of times: `*`

In [25]:
[5] * 3

[5, 5, 5]

## 3.4 List Slicing

In [29]:
a_list = ["a","b","c","d","e","f"]

# from 2 to 5 (index 1 - index 4)

a_list[1:5]

['b', 'c', 'd', 'e']

In [31]:
a_list[:4]

['a', 'b', 'c', 'd']

In [33]:
# return all elements of the list:

a_list[:]

['a', 'b', 'c', 'd', 'e', 'f']

### 3.5 `range()` to a List

In [1]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [2]:
# Let's say we need a list starting at 2, going up to 30 and increasing by threes:

# my_list = [2, 5, 8, 11, 14, 17, 20, 23, 26, 29] 

# I could create this list easily but there is a simple way for creating the list!

x = range(2,30,3)

range_list = list(x)

range_list

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29]

In [3]:
list(range(2,30,3))

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29]

### 3.6 Objects and Values

In [5]:
a = "kiwi"

b = "kiwi"

* we created two objects as a str and their values equal each other. 

In such a case, does python create two separate objects in memory?

To be honest, when i saw these question, i said "of course" :) Let' check their ids:

In [8]:
print("ID of a : {0}".format(id(a)))
print("ID of b : {0}".format(id(b)))

ID of a : 2311658894000
ID of b : 2311658894000

They are in the same ID. Why ? 

Instead of, Python creates different two objects, it creates an object because they are **immutable** and carry the same value!

In [9]:
a == b

True

what if both objects are lists?

In [10]:
x = [1, 2, 3]

y = [1, 2, 3]

In [11]:
x == y

True

In [12]:
id(x) == id (y)

False

It returns False because a list is a mutable object

* x == y -> "==" checks to **values** ( _equivalent_)



* id(x) == id(y) - > checks **objects**( _identical_)

### 3.6 `is`

In [13]:
a = [1, 2, 3, 4, 5, 6]

b = [1, 2, 3, 4, 5, 6]

In [18]:
# Let's see if a and b are the same object?

#identical

a is b

False

In [15]:
s1 = "computer"
s2 = "computer"

In [16]:
s1 is s2

True

In [19]:
#equivalent

a == b

True

### 3.7 Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

In [22]:
#mutating

letters = ["a", "b", "c"]

print("before the function: ", letters)

def adds_capital_letters(letter_list):

    letter_list.insert(1,"A")
    letter_list.insert(3,"B")
    letter_list.insert(5,"C")
    
adds_capital_letters(letters)

print("after the function: ", letters)

before the function:  ['a', 'b', 'c']
after the function:  ['a', 'A', 'b', 'B', 'c', 'C']

When passing a **Non-Primitive Types (list, tuple, set, dict)** as an argument:

Pass By Reference -> passing their addresses

### 3.8 Matrix Operations

In Python, a matris equals a **nested-list**

    1 2 3
       
    4 5 6

    7 8 9

In [24]:
A = [[1,2,3], [4,5,6], [7,8,9]]
A

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
A[1]

[4, 5, 6]

In [26]:
B = [[10,20,30], [40,50,60], [70,80,90]]

### 3.8.1 Addition in Matrices

In [28]:
C = A + B
    
C

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 20, 30], [40, 50, 60], [70, 80, 90]]

**But we want to sum the element value of the matrices:**

In [29]:
C = [[0,0,0],
     [0,0,0],
     [0,0,0]]

In [30]:
for i in range(len(A)):
    
    for j in range(len(B)):
        
        C[i][j] = A[i][j] + B[i][j]
        
print(C)

[[11, 22, 33], [44, 55, 66], [77, 88, 99]]